<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysUser">
	<resultMap type="com.js.base.vo.SysUserBean" id="SysUser">
		<id property="user_no" column="USER_NO" />
		<result property="user_name" column="USER_NAME" />
		<result property="pass_word" column="pass_word" />
		<result property="org_no" column="org_no" />
		<result property="dep_no" column="dep_no" />
		<result property="role_no" column="role_no" />
		<result property="pass_err" column="pass_err" />
		<result property="pass_date" column="pass_date" />
		<result property="tx_date" column="tx_date" />
		<result property="op_no" column="op_no" />
		<result property="user_sts" column="USER_STS" />
	</resultMap>

	<sql id="SysUser.columns">
		user_no,user_name,pass_word,org_no,dep_no,role_no,pass_err,pass_date,tx_date,op_no,user_sts
	</sql>

	<select id="getByID" resultMap="SysUser" parameterType="java.lang.String">
		SELECT
		<include refid="SysUser.columns" />
		FROM sys_user WHERE user_no=#{user_no}
	</select>

	<delete id="delete" parameterType="java.lang.String">DELETE FROM sys_user WHERE user_no=#{id}</delete>

	<insert id="insert" parameterType="com.js.base.vo.SysUserBean">
		INSERT INTO sys_user
		(user_no,user_name,pass_word,org_no,dep_no,role_no,pass_err,pass_date,tx_date,op_no,user_sts) VALUES
		(#{user_no},#{user_name},#{pass_word},#{org_no},#{dep_no},#{role_no},#{pass_err},#{pass_date},#{tx_date},#{op_no},#{user_sts})
	</insert>

	<update id="update" parameterType="com.js.base.vo.SysUserBean">
		UPDATE sys_user SET
		user_name=#{user_name},org_no=#{org_no},dep_no=#{dep_no},role_no=#{role_no},user_sts=#{user_sts} WHERE
		user_no=#{user_no}
	</update>

	<update id="updatePass" parameterType="com.js.base.vo.SysUserBean">
		UPDATE sys_user SET pass_word=#{pass_word},pass_date=#{pass_date},pass_err=#{pass_err} WHERE user_no=#{user_no}
	</update>

	<select id="getList" resultMap="SysUser" parameterType="com.js.base.vo.SysUserBean">
		SELECT
		<include refid="SysUser.columns" />
		FROM sys_user
		<include refid="getList" />
		ORDER BY user_no
	</select>

	<select id="getListCount" resultType="int" parameterType="com.js.base.vo.SysUserBean">
		SELECT COUNT(*) FROM sys_user where 1=1 
		<include refid="getList" />
	</select>

	<sql id="getList">
			<if test="user_name != null">and user_name LIKE concat('%',#{user_name},'%')</if>
			<if test="org_no != null"> and org_no=#{org_no}</if>
	</sql>

</mapper>
